name = "blink-worker"
main = "src/index.ts"
compatibility_date = "2025-05-05"
account_id = "2d47ab6cd61acf830db9324581fb41d1"

compatibility_flags = [
    "nodejs_compat",
    "nodejs_compat_populate_process_env"
]
routes = [
    # The * is needed to pick up query parameters.
    { pattern = "blink.so/webhook/*", zone_name = "blink.so" },
    { pattern = "blink.so/api/*", zone_name = "blink.so" },
    { pattern = "blink.so/static/*", zone_name = "blink.so" },
    { pattern = "blink.coder.com/api/*", zone_name = "coder.com" },
    { pattern = "blink.coder.com/static/*", zone_name = "coder.com" },

    { pattern = "*.blink.host/*", zone_name = "blink.host" },
    { pattern = "*.agent.blink.host/*", zone_name = "blink.host" },
    { pattern = "*.dev.blink.host/*", zone_name = "blink.host" }
]
# This disables the default worker domain.
workers_dev = false
upload_source_maps = true

browser = { binding = "BROWSER" }

tail_consumers = [
  { service = "blink-tail-worker" }
]

[[durable_objects.bindings]]
name = "WORKSPACE"
class_name = "Workspace"

[[durable_objects.bindings]]
name = "COMMAND_LINE_AUTH"
class_name = "CommandLineAuth"

[[durable_objects.bindings]]
name = "AGENT_DEPLOYMENT"
class_name = "AgentDeployment"

[[durable_objects.bindings]]
name = "CHAT"
class_name = "Chat"

[[r2_buckets]]
binding = "REPO_STORAGE"
bucket_name = "blink-repos"

[[kv_namespaces]]
binding = "EXTERNAL_API_CACHE"
id = "719710fcce34479eb33a5327e8523f88"

[[kv_namespaces]]
binding = "AGENT_STORE"
id = "44713bef54914e4f83c938781362ad63"

[[hyperdrive]]
binding = "HYPERDRIVE"
id = "2144638c988b4396a12adca331aebc32"
localConnectionString = "postgresql://postgres:mysecretpassword@localhost:5432/postgres"

[[migrations]]
tag = "v7"
new_sqlite_classes = [ "Agent" ]

[[migrations]]
tag = "v8"
new_sqlite_classes = [ "Slackbot" ]

[[migrations]]
tag = "v9"
deleted_classes = [ "Slackbot" ]

[[migrations]]
tag = "v10"
new_sqlite_classes = [ "Sandbox" ]

[[migrations]]
tag = "v11"
renamed_classes = [ { "from" = "Sandbox", "to" = "Workspace" } ]

[[migrations]]
tag = "v12"
new_sqlite_classes = [ "WorkspaceProviderStateful" ]
renamed_classes = [ { "from" = "Workspace", "to" = "CloudflareContainer" } ]

[[migrations]]
tag = "v13"
new_sqlite_classes = [ "UserState" ]

[[migrations]]
tag = "v14"
new_sqlite_classes = [ "MCPReverseProxy" ]

[[migrations]]
tag = "v15"
deleted_classes = [ "WorkspaceProviderStateful", "CloudflareContainer" ]
new_sqlite_classes = [ "Workspace", "WorkspacePool" ]

[[migrations]]
tag = "v16"
new_sqlite_classes = [ "CommandLineAuth" ]

[[migrations]]
tag = "v17"
deleted_classes = [ "MCPReverseProxy" ]

[[migrations]]
tag = "v18"
new_sqlite_classes = [ "Chat" ]

[[migrations]]
tag = "v19"
new_sqlite_classes = [ "AgentDeployment" ]

[[migrations]]
tag = "v20"
deleted_classes = [ "Agent", "UserState", "WorkspacePool" ]

[observability]
enabled = true

[[r2_buckets]]
binding = "USER_FILES"
bucket_name = "blink-user-files"

[[r2_buckets]]
binding = "STATIC_DEPLOYMENTS"
bucket_name = "blink-deployments"
