name: Tag server Docker image for release

on:
  release:
    types: [released]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/blink-server

jobs:
  tag-image:
    runs-on: ${{ github.repository_owner == 'coder' && 'depot-ubuntu-24.04' || 'ubuntu-latest' }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Tag image as latest and with git tag
        run: |
          SHORT_SHA=$(echo "${{ github.event.release.target_commitish }}" | cut -c1-7)
          SOURCE="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${SHORT_SHA}"
          GIT_TAG="${{ github.event.release.tag_name }}"

          echo "Tagging ${SOURCE} as latest and ${GIT_TAG}"

          docker buildx imagetools create \
            --tag "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest" \
            --tag "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${GIT_TAG}" \
            "${SOURCE}"
